<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>passes</key>
	<dict>
		<key>zValuePlot</key>
		<dict>
			<key>draw</key>
			<string>DRAW_SCENE</string>
			<key>metalVertexShader</key>
			<string>ZValuePlot_VS</string>
			<key>metalFragmentShader</key>
			<string>ZValuePlot_FS</string>
			<key>inputs</key>
			<dict>
				<key>aPos</key>
				<string>vertexSymbol</string>
				<key>uLightWorldViewProjection</key>
				<string>lightWorldViewProjectionSymbol</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>COLOR</string>
			</dict>
		</dict>
		<key>edge</key>
		<dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>metalVertexShader</key>
			<string>Edge_VS</string>
			<key>metalFragmentShader</key>
			<string>Edge_FS</string>
			<key>inputs</key>
			<dict>
				<key>aPos</key>
				<string>vertexSymbol</string>
				<key>uWorldViewProjection</key>
				<string>worldViewProjectionSymbol</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>COLOR</string>
			</dict>
		</dict>
		<key>bufferShadow</key>
		<dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>metalVertexShader</key>
			<string>BufferShadow_VS</string>
			<key>metalFragmentShader</key>
			<string>BufferShadow_FS</string>
			<key>inputs</key>
			<dict>
				<key>aPos</key>
				<string>vertexSymbol</string>
				<key>aNormal</key>
				<string>normalSymbol</string>
				<key>aTex</key>
				<string>texcoord0Symbol</string>
				<key>aTex2</key>
				<string>texcoord1Symbol</string>
				<key>uUseTexture</key>
				<string>useTextureSymbol</string>
				<key>uUseSphereMap</key>
				<string>useSphereMapSymbol</string>
				<key>uUseToon</key>
				<string>useToonSymbol</string>
				<key>uWorldViewProjection</key>
				<string>worldViewProjectionSymbol</string>
				<key>uWorld</key>
				<string>worldSymbol</string>
				<key>uLightDirection</key>
				<string>lightDirectionSymbol</string>
				<key>uLightWorldViewProjection</key>
				<string>lightWorldViewProjectionSymbol</string>
				<key>uAmbientColor</key>
				<string></string>
				<key>uDiffuseColor</key>
				<string></string>
				<key>uSpecularColor</key>
				<string></string>
				<key>uSpecularPower</key>
				<string></string>
			</dict>
			<key>outputs</key>
			<dict/>
		</dict>
	</dict>
	<key>sequence</key>
	<array>
		<string>zValuePlot</string>
		<string>edge</string>
		<string>bufferShadow</string>
	</array>
	<key>symbols</key>
	<dict>
		<key>vertexSymbol</key>
		<dict>
			<key>semantic</key>
			<string>vertex</string>
		</dict>
		<key>normalSymbol</key>
		<dict>
			<key>semantic</key>
			<string>vertex</string>
		</dict>
		<key>texcoord1Symbol</key>
		<dict>
			<key>semantic</key>
			<string>texcoord</string>
		</dict>
		<key>texcoord0Symbol</key>
		<dict>
			<key>semantic</key>
			<string>texcoord</string>
		</dict>
		<key>texcoordSymbol</key>
		<dict>
			<key>semantic</key>
			<string>texcoord</string>
		</dict>
		<key>lightDirectionSymbol</key>
		<dict>
			<key>semantic</key>
			<string>vertex</string>
		</dict>
		<key>useTextureSymbol</key>
		<dict>
			<key>semantic</key>
			<string>bool</string>
		</dict>
		<key>useSphereMapSymbol</key>
		<dict>
			<key>semantic</key>
			<string>bool</string>
		</dict>
		<key>useToonSymbol</key>
		<dict>
			<key>semantic</key>
			<string>bool</string>
		</dict>
		<key>worldViewProjectionSymbol</key>
		<dict>
			<key>semantic</key>
			<string>mat</string>
		</dict>
		<key>lightWorldViewProjectionSymbol</key>
		<dict>
			<key>type</key>
			<string>mat4</string>
		</dict>
	</dict>
</dict>
</plist>
