<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sequence</key>
	<array>
		<string>pass_scene</string>
		<string>pass_edge</string>
	</array>
	<key>passes</key>
	<dict>
		<key>pass_scene</key>
		<dict>
			<key>colorStates</key>
			<dict>
				<key>clear</key>
				<true/>
				<key>clearColor</key>
				<string>sceneBackground</string>
			</dict>
			<key>draw</key>
			<string>DRAW_SCENE</string>
			<key>blendStatus</key>
			<dict>
				<key>enable</key>
				<true/>
			</dict>
			<key>inputs</key>
			<dict>
				<key>depth</key>
				<string>DEPTH</string>
				<key>color</key>
				<string>COLOR</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>COLOR</string>
				<key>depth</key>
				<string>DEPTH</string>
			</dict>
		</dict>
		<key>pass_edge</key>
		<dict>
			<key>colorStates</key>
			<dict>
				<key>clear</key>
				<false/>
			</dict>
			<key>blendStates</key>
			<dict>
				<key>enable</key>
				<true/>
			</dict>
			<key>depthStates</key>
			<dict>
				<key>clear</key>
				<false/>
				<key>enableWrite</key>
				<true/>
				<key>enableRead</key>
				<true/>
				<key>func</key>
				<string>less</string>
			</dict>
			<key>cullMode</key>
			<string>front</string>
			<key>draw</key>
			<string>DRAW_SCENE</string>
			<key>program</key>
			<string>doesntexist</string>
			<key>metalVertexShader</key>
			<string>pass_edge_vertex</string>
			<key>metalFragmentShader</key>
			<string>pass_edge_fragment</string>
			<key>inputs</key>
			<dict/>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>COLOR</string>
				<key>depth</key>
				<string>DEPTH</string>
			</dict>
		</dict>
	</dict>
	<key>targets</key>
	<dict/>
	<key>symbols</key>
	<dict>
		<key>screenSize</key>
		<dict>
			<key>type</key>
			<string>float</string>
		</dict>
		<key>vertexSymbol</key>
		<dict>
			<key>semantic</key>
			<string>vertex</string>
		</dict>
		<key>normalSymbol</key>
		<dict>
			<key>semantic</key>
			<string>normal</string>
		</dict>
	</dict>
</dict>
</plist>
